<h1 class="title-view">Listado de camas</h1>

<div class="container">
  <div class="header-camas">
    <div>
      <select
        class="form-select"
        aria-label="Default select example"
        (change)="GetCamaFiltradas($event)"
      >
        @for (a of listadoSalas ; track a.codsal) {
        <option [value]="a.codsal">{{ a.nomsal }}</option>
        }
      </select>
    </div>
    <div>
      <div class="circle">{{ listadoCamas.length }}</div>
    </div>
  </div>

  <div class="container-camas">
    <div class="row">
      <div class="col-md-3 mb-4" *ngFor="let c of listadoCamas"  data-bs-toggle="modal"
      data-bs-target="#exampleModal">
        <div class="card" >
          <div class="card-body">
            <i
              class="bx bx-bed"
              [class.rojo]="c.estado === 'p'"
              [class.verde]="c.estado !== 'p'"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal de los detalles -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detalles</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
