<!--  <div class="container-fluit">
  <div class="row" style="height: 100vh">
    <div id="presentation-login" class="col col-sm-12 col-lg-6" >
      <div class="detail-login" style="background-color: aqua;">
        <h1>Sistema Mobilsoft</h1>
        <p>En nuestra clínica, nos dedicamos a ofrecer atención médica de alta calidad para satisfacer las necesidades de nuestros pacientes.</p>
      </div>
      <div class="login-img">

      </div>
    </div>
    <div class="col col-sm-12 col-lg-6">
      <div class="form-login">
        <h1 class="text-center">Inicio de sesion</h1>
        <p>Sistema Mobilsoft</p>
        <form>
          <div class="row g-4">
            <div class="col-12">
              <input class="form-control" type="text" placeholder="Correo" />
            </div>
            <div class="col-12">
              <input class="form-control" type="text" placeholder="Password" />
            </div>
            <div class="col-12 forgot">
              <p>Forgot Password ?</p>
            </div>
            <div class="col-12">
              <button class="btn btn-primary">Acceder</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<div class="cont-login">
  <div class="form-login">
    <h1 class="text-center">Inicio de sesion</h1>
    <p>Sistema Mobilsoft</p>
    <form>
      <div class="row g-4">
        <div class="col-12">
          <input class="form-control" type="text" placeholder="Correo" />
        </div>
        <div class="col-12">
          <input class="form-control" type="text" placeholder="Password" />
        </div>
        <div class="col-12 forgot">
          <p>Forgot Password ?</p>
        </div>
        <div class="col-12">
          <button class="btn btn-primary">Acceder</button>
        </div>
      </div>
    </form>
  </div>
</div>



