<h1 class="title-view">Hospitalizacion</h1>

<div class="container">
  <div class="row p-2">
    <div class="col-sm-6 col-lg-2">
      <label class="form-label">Orden No.</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-6 col-lg-4">
      <label class="form-label"> Ufa</label>
      <select class="form-select" aria-label="Default select example">
        <option>Prueba</option>
        <option>Prueba</option>
        <option>Prueba</option>
      </select>
    </div>
    <div class="col-sm-6 col-lg-3">
      <label class="form-label">No. Autorizacion</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-6 col-lg-3">
      <label class="form-label"> Fecha</label>
      <input class="form-control" />
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center p-2">
    <div class="col col-sm-12 col-md-6">
      <h3 class="m-0 fs-5">Hijo de Guzman Cavadia Maria Helena</h3>
    </div>
    <div class="col col-sm-6 col-md-3">
      <label class="form-label">Fecha Nac</label>
      <input class="form-control" />
    </div>
    <div class="col col-sm-6 col-md-3">
      <label class="form-label">Edad</label>
      <input class="form-control" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-2">
      <label class="form-label">Telefono</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-6 col-lg-4">
      <label class="form-label">Empresa</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-8 col-lg-4">
      <label class="form-label">Direccion</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-4 col-lg-2">
      <label class="form-label">Sexo</label>
      <input class="form-control" />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-lg-2">
      <label class="form-label">Medico</label>
      <select class="form-select" aria-label="Default select example">
        <option>Juan</option>
        <option>Prueba</option>
        <option>Prueba</option>
      </select>
    </div>
    <div class="col-sm-6 col-lg-4">
      <label class="form-label">Sala</label>
      <select class="form-select" aria-label="Default select example">
        <option>sala 1</option>
        <option>sala 2</option>
        <option>sala 3</option>
      </select>
    </div>
    <div class="col-sm-8 col-lg-4">
      <label class="form-label">Cama</label>
      <select class="form-select" aria-label="Default select example">
        <option>cama 1</option>
        <option>cama 2</option>
        <option>cama 3</option>
      </select>
    </div>
    <div class="col-sm-4 col-lg-2">
      <label class="form-label">Fecha Ingreso</label>
      <input class="form-control" />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-6 col-lg-3">
      <label class="form-label">Dpto</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-6 col-lg-3">
      <label class="form-label">Municipio</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-6 col-lg-3">
      <label class="form-label">Tipo de Orden</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-6 col-lg-3">
      <label class="form-label">Est. Civil</label>
      <input class="form-control" />
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6">
      <div class="col-12 bg-primary p-1 text-center text-white">Anamnesis</div>
      <div class="row">
        <div class="col-12">
          <label class="form-label">Motivo Consulta</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="1"
          ></textarea>
        </div>
        <div class="col-12">
          <label class="form-label">Enfermedad Actual</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="1"
          ></textarea>
        </div>
        <div class="col-12">
          <label class="form-label">Antecendentes Personales</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="1"
          ></textarea>
        </div>
        <div class="col-12">
          <label class="form-label">Antecendentes Familiares</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="1"
          ></textarea>
        </div>
        <div class="col-12">
          <label class="form-label">Analisis</label>
          <input class="form-control" />
        </div>
        <div class="col-12">
          <label class="form-label">Impresion Diagnostica</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="1"
          ></textarea>
        </div>
        <div class="col-12">
          <label class="form-label">Plano Tratamiento</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="1"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="col-12 bg-primary p-1 text-center text-white">
        Examen Fisico por Sistema
      </div>
      <div class="row">
        <div class="col-12">
          <label class="form-label">Estado General</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="1"
          ></textarea>
        </div>
        <div class="col-12">
          <label class="form-label">Cabeza-craneo-cuello</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="1"
          ></textarea>
        </div>
        <div class="col-12">
          <label class="form-label">Nervioso Central</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="1"
          ></textarea>
        </div>
        <div class="col-12">
          <label class="form-label">Cardiovascular</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="1"
          ></textarea>
        </div>
        <div class="col-12">
          <label class="form-label">Respiratorio</label>
          <input class="form-control" />
        </div>
        <div class="col-12">
          <label class="form-label">Gastro-Intestinal-Metabolico</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="1"
          ></textarea>
        </div>
        <div class="col-12">
          <label class="form-label">Genitourinario</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="1"
          ></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
