  <div class="row">
    <div class="col-4 box">
      <h2>Datos de la Visita</h2>
      <button mat-icon-button style="background-color: #8ed1fc; color: white">
        <mat-icon mat-list-icon>location_on</mat-icon>
      </button>
    </div>
    <div class="col-4 box">
      <h2>Codigo Visita: <span>909800989099</span></h2>
      <h2>Direccion: <span>Av.Salaverry 801</span></h2>
    </div>
    <div class="col-4 box">
      <h2>Fecha Visita:  <span>27/03/2024</span></h2>
      <h2>Hora Visita:  <span>10:00 A.M</span></h2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-4 box">
      <h2>Datos del Paciente</h2>
      <button mat-icon-button style="background-color: #8ed1fc; color: white">
        <mat-icon mat-list-icon>person</mat-icon>
      </button>
    </div>
    <div class="col-4 box">
      <h2>Nombre:  <span>Giancarlos</span></h2>
      <h2>Documento: <span>CC:1034598</span> </h2>
      <h2>Telefono:  <span>8093042786</span></h2>
    </div>
    <div class="col-4 box">
        <h2>Eps:  <span>Compensar</span></h2>
        <h2>Correo:  <span>giancarlosgenao7.com</span></h2>
        <h2>Edad:  <span>17</span></h2>
    </div>
  </div>

  <mat-card class="mt-4">
    <mat-card-title>Listado de ayudas diagnostico</mat-card-title>
    <mat-card-content>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Justificacion</th>
                <th scope="col">Observacion</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">10909</th>
                <td>ELECTROMIOGRAFIA2</td>
                <td>Dolor frecuente</td>
                <td>En cada extremo unoo mas musculos</td>
              </tr>
              <tr>
                <th scope="row">10909</th>
                <td>ELECTROMIOGRAFIA2</td>
                <td>Dolor frecuente</td>
                <td>En cada extremo unoo mas musculos</td>
              </tr>
              
              <tr>
                <th scope="row">10909</th>
                <td>ELECTROMIOGRAFIA2</td>
                <td>Dolor frecuente</td>
                <td>En cada extremo unoo mas musculos</td>
              </tr>
              
              
            </tbody>
          </table>
    </mat-card-content>
  </mat-card>
