<mat-dialog-content>
  <div class="row mb-2">
    <div class="col-3 col-sm-6 col-lg-3">
      <label class="form-label">Sexo</label>
      <select class="form-select" aria-label="Default select example">
        <option selected></option>
        <option value="1">M</option>
        <option value="2">F</option>
      </select>
    </div>
    <div class="col-3 col-sm-6 col-lg-3">
      <label class="form-label">Fecha y Hora Registro</label>
      <input class="form-control" />
    </div>
    <div class="col-3 col-sm-6 col-lg-3">
      <label class="form-label">Tipo</label>
      <select class="form-select" aria-label="Default select example">
        <option selected></option>
        <option value="1">Nacido</option>
        <option value="2">Con identificacion</option>
      </select>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-sm-6 col-lg-3">
      <label class="form-label">Primer Apellido</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-6 col-lg-3">
      <label class="form-label">Segundo Apellido</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-6 col-lg-3">
      <label class="form-label">Primer Nombre</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-6 col-lg-3">
      <label class="form-label">Segundo Nombre</label>
      <input class="form-control" />
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-sm-12 col-lg-6">
      <label class="form-label">Tipo Documento</label>
      <select class="form-select" aria-label="Default select example">
        <option selected></option>
        <option value="1">CE</option>
        <option value="2">F</option>
      </select>
    </div>
    <div class="col-sm-6 col-lg-3">
      <label class="form-label">Fecha Nacimiento</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-6 col-lg-3">
      <label class="form-label">Edad</label>
      <input class="form-control" />
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-sm-12 col-lg-6">
      <label class="form-label">Direccion</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-6 col-lg-3">
      <label class="form-label">Telefono</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-6 col-lg-3">
      <label class="form-label">Tipo Beneficiario</label>
      <select class="form-select" aria-label="Default select example">
        <option selected></option>
        <option value="1">URBANA</option>
        <option value="2">F</option>
      </select>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-sm-6 col-lg-3">
      <label class="form-label">Municipio</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-12 col-lg-6">
      <label class="form-label">Dpto</label>
      <input class="form-control" />
    </div>

    <div class="col-sm-6 col-lg-3">
      <label class="form-label">Tipo</label>
      <input class="form-control" />
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-sm-12 col-lg-6">
      <label class="form-label">Programa</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-6 col-lg-3">
      <label class="form-label">Empresa</label>
      <input class="form-control" />
    </div>
    <div class="col-sm-6 col-lg-3">
      <label class="form-label">Contrato</label>
      <input class="form-control" />
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-8">
      <label class="form-label">Datos del Acompanante</label>
      <input class="form-control" />
      <div class="row">
        <div class="col-12">
          <label class="form-label">Direccion</label>
          <input class="form-control" placeholder="Direccion" />
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <label class="form-label">Parentesco</label>
          <input class="form-control" />
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label class="form-label">Telefono</label>
          <input class="form-control" />
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
