<mat-dialog-content>
  <form class="modal-empleado" [formGroup]="formulario">
    <div class="row mb-2">
      <div class="col-3 col-sm-6 col-lg-3">
        <label class="form-label">Sexo</label>
        <select
          formControlName="sexo"
          class="form-select"
          aria-label="Default select example"
        >
          <option selected></option>
          <option value="M">M</option>
          <option value="F">F</option>
        </select>
      </div>
      <div class="col-3 col-sm-6 col-lg-3">
        <label class="form-label">Fecha y Hora Registro</label>
        <input [value]="fechaInicio" class="form-control" />
      </div>
      <div
        class="col-3 col-sm-6 col-lg-6"
        style="
          display: flex;
          border: 1px solid gainsboro;
          border-radius: 4px;
          align-items: center;
          justify-content: flex-end;
        "
      >
        <mat-radio-group aria-label="Select an option" (click)="change($event)">
          <mat-radio-button value="1">Recien Nacido</mat-radio-button>
          <mat-radio-button value="0">Con identidad</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div class="row mb-2">
     
      <div *ngIf="nacido == true" class="col-sm-6 col-lg-3">
        <label class="form-label">Hijo</label>
        <input placeholder="HIJO DE" class="form-control" />
      </div>
      <div class="col-sm-6 col-lg-3">
        <label class="form-label">Primer Apellido</label>
        <input formControlName="apellido1" class="form-control" />
      </div>

      <div class="col-sm-6 col-lg-3">
        <label class="form-label">Segundo Apellido</label>
        <input formControlName="apellido2" class="form-control" />
      </div>

      <div *ngIf="nacido == false" class="col-sm-6 col-lg-3">
        <label class="form-label">Primer Nombre</label>
        <input formControlName="nombrePaciente1" class="form-control" />
      </div>
      
      <div  *ngIf="nacido == false" class="col-sm-6 col-lg-3">
        <label class="form-label">Segundo Nombre</label>
        <input formControlName="nombrePaciente2" class="form-control" />
      </div>

      <div  *ngIf="nacido == true"   class="col-sm-6 col-lg-3">
        <label class="form-label">Nombre de la Madre</label>
        <input formControlName="madre" class="form-control" />
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-sm-12 col-lg-6">
        <label class="form-label">Tipo Documento</label>
        <select formControlName="documento"  class="form-select" aria-label="Default select example">
          <option selected></option>
          <option value="1064981071">1064981071</option>
          <option value="1062533033">1062533033</option>
          <option value="1062532986">1062532986</option>
          <option value="1063648224">1063648224</option>
        </select>
      </div>
      <div class="col-sm-6 col-lg-3">
        <label class="form-label">Fecha Nacimiento</label>
        <input formControlName="nacimiento" type="date" class="form-control" />
      </div>
      <div class="col-sm-6 col-lg-3">
        <label class="form-label">Edad</label>
        <input formControlName="edad" class="form-control" />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-12 col-lg-6">
        <label class="form-label">Direccion</label>
        <input formControlName="direccionPaciente" class="form-control" />
      </div>
      <div class="col-sm-6 col-lg-3">
        <label class="form-label">Telefono</label>
        <input formControlName="telefonoPaciente" class="form-control" />
      </div>
      <div class="col-sm-6 col-lg-3">
        <label class="form-label">Tipo Beneficiario</label>
        <select class="form-select" aria-label="Default select example">
          <option selected></option>
          <option value="1">URBANA</option>
          <option value="2">F</option>
        </select>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-6 col-lg-3">
        <label class="form-label">Municipio</label>

        <select
          formControlName="idMunicipio"
          class="form-select"
          aria-label="Default select example"
        >
          <option *ngFor="let m of LisMunicipality" [value]="m.codmun" >
            {{ m.nommun }}
          </option>

          <!-- Otras opciones -->
        </select>
      </div>
      <div class="col-sm-12 col-lg-6">
        <label class="form-label">Dpto</label>
        <select
          formControlName="idDepartamento"
          class="form-select"
          aria-label="Default select example"
        >
          <option *ngFor="let m of ListDepartment" [value]="m.coddep">
            {{ m.nomdep }}
          </option>
        </select>
      </div>

      <div class="col-sm-6 col-lg-3">
        <label class="form-label">Tipo Usuario</label>
        <select
          formControlName="tipo"
          class="form-select"
          aria-label="Default select example"
        >
          <option>Contributivo</option>
          <option>Subsidiado</option>
          <option value="2">Vinculado</option>
          <option value="1">Particular</option>
          <option value="0">Otros</option>
        </select>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-sm-12 col-lg-6">
        <label class="form-label">Programa</label>
        <input class="form-control" />
      </div>
      <div class="col-sm-6 col-lg-3">
        <label class="form-label">Empresa</label>
        <input class="form-control" />
      </div>
      <div class="col-sm-6 col-lg-3">
        <label class="form-label">Contrato</label>
        <input class="form-control" />
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-8">
        <label class="form-label">Datos del Acompanante</label>
        <input formControlName="acompañante" class="form-control" />
        <div class="row">
          <div class="col-12">
            <label class="form-label">Direccion</label>
            <input
              formControlName="direccionAcompañante"
              class="form-control"
              placeholder="Direccion"
            />
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-12">
            <label class="form-label">Parentesco</label>
            <input formControlName="parentesco" class="form-control" />
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label class="form-label">Telefono</label>
            <input formControlName="telelfonoAcompañante" class="form-control" />
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    mat-raised-button
    color="warn"
    style="background-color: #8ed1fc; color: white"
    (click)="NewPatient()"
    [disabled]="formulario.invalid"
  >
    Enviar
  </button>
</mat-dialog-actions>
